[package]
name      = "piper_ros"
version   = "0.1.0"

[package.build.backend]
channels = [
  "https://prefix.dev/pixi-build-backends",
  "https://prefix.dev/conda-forge",
]
name = "pixi-build-python"
version = "0.1.*"

[workspace]
authors   = ["JafarUruc <jafar@reimaginerobotics.ai>"]
channels  = ["conda-forge", "https://prefix.dev/robostack-jazzy"]
platforms = ["linux-64"]
preview = ["pixi-build"]

[activation]
scripts = ["install/local_setup.bash"]

[tasks]

# We build the packages with colcon to make them accessible through `ros2 run <package> <executable>`
# Symlink install allows us to edit the source code without needing to rebuild
build = { cmd = ["colcon", "build", "--symlink-install", "--event-handlers", "console_direct+"] }

[dependencies]

# ROS 2 dependencies
ros-jazzy-desktop        = ">=0.11.0,<0.12"
colcon-common-extensions = ">=0.3.0,<0.4"

[pypi-dependencies]
piper_control = ">=1.3.2"
piper_ros     = { path = ".", editable = true }
mujoco = ">=3.3.5, <4"

# A lightweight environment for linting and formatting
[feature.lint.dependencies]
pre-commit = ">=4.3.0,<5"
pylint = ">=3.3.8,<4"

[feature.lint.tasks]
lint = "pre-commit run --all-files"

[environments]
lint = { features = ["lint"], no-default-feature = true }
